<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'login.css' %}">

</head>

<body>
<div class="middlePage">
<div class="page-header">
  <h1 class="logo">Friendzoned <small>A New Era Of Being Socially Connected!</small></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Please Sign Up</h3>
  </div>
  <div class="panel-body">

  <div class="row">

    <div class="col-md-7" style="border-left:1px solid #ccc;height:350px">
<form class="form-horizontal" action="{% url 'adduser' %}" method="post">
    {% csrf_token %}
<fieldset>

  <input id="textinput" name="name" type="text" placeholder="Name" class="form-control input-md"><br>
    <input id="textinput" name="dob" type="date" placeholder="Date of birth" class="form-control input-md">
  <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small></div>
      <input id="textinput" name="username" type="text" placeholder="Username" class="form-control input-md"><br>
  <input id="textinput" name="password1" type="password" placeholder="Enter Password" class="form-control input-md"><br>
    <input id="textinput" name="password2" type="password" placeholder=" ReEnter Password" class="form-control input-md">
  <div class="spacing"><a href="#"><small> Forgot Password?</small></a><br/></div>
    <div class="spacing"><a href="{% url 'signup' %"><small>Don't have an account?</small></a></div>

  <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign Up</button>


</fieldset>
</form>
</div>
      <div class="col-md-5" style="border-left:1px solid #ccc;height:200px">
        this is going next
      </div>

</div>

</div>
</div>

<p><a href="https://github.com/arjunkomath">About</a> · Devang Mehta</p>

</div>
</body>
</html></html>